---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$x-large: 1580px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero {
  &--overlay {
    padding: 4em 0; // <- CHANGE IS HERE
  }
}

// @include breakpoint($x-large) {
//   // width: calc(100% - #{$right-sidebar-width});
//   width: 100%;
//   padding-right: $right-sidebar-width;
// }
